html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

html {
    width: 100%;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    height: 100% !important;
    font-family: 'Gadugi';
    font-style: normal;
    font-weight: 300;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

 @font-face {
            font-family: Gadugi;
            src: url(.gadugi.ttf);
        }
 @font-face {
            font-family: GadugiBold;
            src: url(.gadugib.ttf);
        }

  @font-face {
            font-family: OswaldLight;
            src: url(./Oswald-Light.ttf);
        }
@font-face {
            font-family: OswaldBold;
            src: url(./Oswald-Bold.ttf);
        }
@font-face {
            font-family: BabesNeueBold;
            src: url(./BebasNeueBold.ttf);
        }
@font-face {
            font-family: OswaldMedium;
            src: url(./Oswald-Medium.ttf);
        }
.pd_rg{
    padding-right: 0px !important;
}
.pd_lf{
    padding-left: 0px !important;
}

/* navbar */

    .navbar{
        padding: 0px 70px !important;
        font-family: Gadugi !important;
        font-size: 15px !important;
        border-bottom: 1px solid grey;
    }
     .navbar-brand img{
         max-width: 100%; 
         width: 330px;
        }

    .login{
        margin-left: 20px;
        color: white !important;
        background-color: #017eb4;
    }



.home{
    width: 100%;
    border: 1px solid blue;
     /* The image used */
    background-image: url("../img/Picture1home.jpg");
    /* Full height */
    height:90%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
     display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
    
.home_content{
    height: auto;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left:180px; 
}




.headline01{
    font-size: 90px;
    text-transform: uppercase;
    font-family: BabesNeueBold;
    color: white;
    font-weight: 800;
    line-height: 0.7;
   
}
.headline02{
    font-size:85px ;
    text-transform: uppercase;
    font-family: BabesNeueBold;
    color: white;
    font-weight: 800;
    line-height: 1;
}
.headline03{
    font-size: 50px;
    text-transform: uppercase;
    font-family: OswaldLight;
    color: white;
    line-height: 0.8;
}
.headline04{
    font-family: OswaldBold;
    background-color: #017eb4;
    color: white;
    font-size: 21px;
    border-radius: 21px;
    width: 20%;
    text-transform: uppercase;
    cursor: pointer;
}



     
.about{
    margin: 0px 76px 0px 76px;
    width: auto;
    height: auto;
}

.about_left{
    background-color: lightgray;
    color: #017eb4;
    height: auto;
}
.about_heading{
    margin-top: 20px;
    font-size: 46px;
    text-align: center;
    font-family: OswaldMedium;
    text-transform: uppercase;
}

.about_content{
    font-family: Gadugi;
    font-size: 18px;
    padding: 20px 50px 70px 70px;
    line-height: 1.3;
    text-align: justify;
}

.about_right{
    padding: 0px !important;
    height: 80vh;
    
}
.about_rigt_box01{
    height: 50%;
    background-color:#017eb4;
    padding: 40px 50px 50px 20px;
    color: white;
    width: 100%;   
}
.box01_heading{
    font-size: 25px;
    font-family: OswaldLight;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 15px;
    
}
.large_font_42{
    font-size: 42px;
}
.sub_heading_font_30{
    font-size: 30px;
}
.about_boxes{
    height: 50%;
    font-family: OswaldMedium;
    color: white;
    font-size: 46px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.about_rigt_box02{
    background-image: url(../img/box%202.jpg);
}
.about_rigt_box03{
    background-image: url(../img/box%201.jpg);   
}
.about_rigt_box04{
    background-image: url(../img/box%203.jpg);
}
.flex_center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.Why_section{
 height: 90vh;
    margin: 10px 60px;
    padding-right: 20px;
    background: #004b6d;
}
.why_box01{
    background-color: #017eb4;
    padding: 20px 100px;
    z-index: 999;
    margin-top: 80px;
}

.font_content{
    font-size: 28px;
    font-family: OswaldBold;
    color: white;
    text-transform: uppercase;
    
}
.lh-1{
line-height: 1;
}

.mg_btm_10{
    margin-bottom: 10px;
}
.btm-border{
    border-bottom: 2px solid white;
}

.why_heading{
    line-height: 1;
    margin-bottom: 30px;
}
.why_heading_01{
    font-size: 18px;
    font-family: OswaldBold;
    color: white;
    text-transform: uppercase; 
}
.Why_top_heading{
    font-family: OswaldBold;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}
.why_box{
    height: 70%;
}

.why_box_heading{
    font-size: 30px;
    color: white;
    border-left: 2px solid #017eb4;
    padding-left: 15px;
    font-family: OswaldBold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.why_image_content_box{
border: 1px solid white;
    height: 90%;
}

.why_box_img img{
  width: 100%;  
}
.why_box_para{
    font-size: 16px;
    padding: 8px;
    line-height: 1.3;
    color: white;
}
.why_box_02,.why_box_03{
    margin-top: 140px;
    
}









/* media query starts here */
    
    @media (max-width: 767px){
        .navbar-brand img{
            width: 270px;
            height: 50px; 
        }
        
    .login{ 
        display: none !important;
        }
        
        .navbar{
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
        
}



@media (max-width: 576px) {

.home_content{
    padding: 0px !important;
     width: 100%;
}

.headline01{
    width: 100%;
    text-align: center;
    font-size: 50px;
    line-height: 1;
}
.headline02{
    width: 100%;
     text-align: center;
    font-size:60px;
    line-height: 1.1;
}
.headline03{
    width: 100%;
     text-align: center;
    font-size: 32px;
    line-height: 1;
}
    
 .about{
    margin: 0px;
   
}
.about_heading{
    margin-top: 10px;
    font-size: 35px;
}

.about_content{
    font-family: Gadugi;
    font-size: 18px;
    padding: 10px 30px 50px 20px;
    line-height: 1.3;
    text-align: left;
}
 .about_right{
    height: auto;  
}
.about_rigt_box01{
    height: 320px;
    padding: 85px 10px 5px 30px;  
}
.box01_heading{
    font-size: 35px;
    line-height: 1.2;    
}
.large_font_42{
    font-size: 55px;
}
.sub_heading_font_30{
    font-size: 30px;
}
.about_boxes{
    height: 320px;
}   
    
.Why_section{
    height: auto;
    margin:0px;
    padding-left:10px;
    padding-right: 10px;
    background: #004b6d;
}
.why_box01{
    background-color: #017eb4;
    padding: 20px 100px;
    z-index: 999;
    margin: 50px 50px 0px 50px;
    
}

.font_content{
    font-size: 28px;
    
}

.mg_btm_10{
    margin-bottom: 10px;
}

.why_heading{
    line-height: 1;
    margin-bottom: 30px;
}
.Why_top_heading{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: -20px;
}
.why_box{
    height: auto;
}

.why_box_heading{
    font-size: 30px;
}
.why_image_content_box{
border: 1px solid white;
    height: 90%;
}

.why_box_img img{
  width: 100%;  
}
.why_box_para{
    font-size: 14px;
    padding: 8px;
    line-height: 1.3;
    color: white;
}
.why_box_02,.why_box_03{
    margin-top: 30px;
    
}
    .why_box_03{
        margin-bottom: 20px;
    }



}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.home_content{
    padding-left:50px; 
}
.about_heading{
    margin-top: 10px;
    font-size: 30px;
}
.about_content{
    font-size: 16px;
    padding: 10px 10px 10px 10px;
}
 .about_rigt_box01{
    padding: 15px 10px 5px 30px;  
}
.box01_heading{
    font-size: 35px;
    line-height: 1.2;    
}
.large_font_42{
    font-size: 25px;
}
.sub_heading_font_30{
    font-size: 20px;
} 
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
.home_content{
    padding-left:180px ; 
}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
    .about_heading{
    margin-top: 10px;
    font-size: 50px;
}
.about_content{
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    line-height: 1.3;
}
.large_font_42{
    font-size: 45px;
}
.sub_heading_font_30{
    font-size: 30px;
} 


}

/* end of homepage  media query*/







